<ul>
<div class="coaching">
  <h1>Stupid Coaching</h1>

  <div class="user-coach">
      <%= @input %>
    <p><em>- You </em></p>
  </div>

  <div class="coach user-coach">
    <strong><%= @answer %></strong>
    <p><em>- Your Coach</em></p>
  </div>

  <%= link_to "Ask a new question", "/ask" %>
</div>
</ul>
  